body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  display: flex;
}

.navigation-menu {
  width: 200px;
  background-color: #f0f0f0;
  padding: 16px;
}

.navigation-menu ul {
  list-style: none;
  padding: 0;
}

.navigation-menu li {
  margin-bottom: 8px;
}

/* Juster plasseringen av kartet */
.trondheim-map {
  flex: 1;
}
